$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-pale-red-btn: hsl(12, 91%, 69%);
$very-light-gray: hsl(0, 0%, 98%);

@mixin font-family {
  font-family: "Be Vietnam Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeSlide {
  0% {
    filter: opacity(0);
  }
  25% {
    filter: opacity(0.5);
  }
  50% {
    filter: opacity(0.75);
  }
  100% {
    filter: opacity(1);
  }
}

@keyframes navSlideIn {
  0% {
    margin-right: -100%;
  }
  100% {
    margin-right: 0;
  }
}
